@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hospitalización en Casa</h1>
    <p>El acceso a los servicios de salud hospitalaria es uno de los 
    principales derechos sobre los que se soportan los principios de 
    universalidad y equidad. Sin embargo, algunas circunstancias 
    como: el aumento de la demanda de camas, el envejecimiento de 
    la población, las migraciones, el uso inadecuado de los servicios 
    de salud, la mala administración de los recursos y, por supuesto, 
    la pandemia generada por el COVID-19, entre otros; están 
    causando que el sistema este continuamente saturado y la 
    disponibilidad de camas sea mínima.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
